@model IEnumerable<TextEditor.Models.Docs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div style="background-color:lightgray; width:150px;height:200px; font-size:100px;"
    class="d-flex justify-content-center align-items-center">

    <a style="text-decoration:none; color:black;" asp-action="Create">+</a>
</div>
<span style="font-weight:bold;">Blank Document</span>

<hr />
<div class="row">
@foreach(var doc in Model)
{
    <div class="col-2">
    <div style="background-color:lightblue; width:150px;height:200px; font-size:150px;"
         class="d-flex justify-content-center align-items-center">
        <a style="text-decoration:none; " asp-action="Edit" asp-route-id="@doc.Id">📃</a>
    </div>
    <span style="font-weight:bold;">@doc.Title</span>
    </div>
}
</div>
   